*{
    padding: 0%;
    margin-top: 0%;
    box-sizing: border-box;
}

.section{
    display: flex;
    background: url('./components/liqu.jpg');
    background-size:cover;
    border: 1px solid;
    height: 100vh;
    overflow: hidden;
}